{% extends "base.html" %}
{% block title %}
Список категорий
{% endblock %}
{% block style %}
	{% include "style.html" %}
{% endblock %}
{% block menu %}
	{% include "menu.html" %}
{% endblock %}
{% block body %}
<div id="site_content">
    <div class="content">
    <h1>Список категорий</h1>
    <ul>

        {% for item in objects_list %}
        <li>
            <h2>{{item.fullname}}</h2> <span>Количество курсов: {{item.course_count()}}</span>

        </li>
                <a href="/create-category/?id={{item.id}}">Создать подкатегорию</a>
        <a href="/courses-list/?id={{item.id}}">Список курсов</a>
        <a href="/create-course/?id={{item.id}}">Создать курс</a>
        {% endfor %}
    </ul>
        <a href="/create-category/">Создать категорию</a>
</div>
</div>
{% endblock %}
