{% extends "base.html" %}
{% block title %}
Список курсов
{% endblock %}
{% block style %}
	{% include "style.html" %}
{% endblock %}
{% block menu %}
	{% include "menu.html" %}
{% endblock %}
{% block body %}
<div id="site_content">
    <div>
        <a href="/category-list/">Вернуться в Список категорий</a>

        <br>
        {% if id is defined %}
        <h1>Список курсов для категории "{{category.name}}"</h1>
        {% else %}
        <h1>Список курсов</h1>
        {% endif %}
        {% for item in objects_list %}
        <li>
            <b>{{item.name}} </b><span><a href="/copy-course/?id={{item.id}}">скопировать</a></span>
             <span><a href="/edit-course/?id={{item.id}}">редактировать</a></span>
        </li>
        {% endfor %}
        <br>
        <a href="/create-course/?id={{category.id}}">Создать новый курс</a>
    </div>
{% endblock %}
</div>