{% extends "base.html" %}
{% block title %}
Создание курса
{% endblock %}
{% block style %}
	{% include "style.html" %}
{% endblock %}
{% block menu %}
	{% include "menu.html" %}
{% endblock %}
{% block body %}
<div id="site_content">
    <div>
        <a href="/courses-list/?id={{category.id}}">назад</a>
    </div>

    <br>
    <br>

    <div>
        <h1>Создание курса для категории "{{category.name}}"</h1>
        <form method="post">
            <p><input type="text" name="name" placeholder="Название"></p>
            <p><select name="type">
              <option>Он-лайн</option>
              <option>Вживую</option>
            </select></p>
            <p><textarea rows="8" cols="50" type="text" name="description" placeholder="Описание"></textarea></p>

            <button type="submit">Сохранить и вернуться к списку курсов</button>
        </form>
    </div>
{% endblock %}
</div>