<div id="site_content">
<div class="content">
    <h1>Обучение футурологии</h1>
    <h2>Кто такие футурологи?</h2>
        <p>Футуролог — это специалист, который строит долгосрочные стратегии развития, оценивает перспективность проектов, технологий и феноменов. </p>
        <p>Термин  «футурология» (от лат.  futurum — будущее и греч. λόγος — учение) впервые использовал социолог Осип Флехтхайм в 1943 году в письме к писателю-фантасту Олдосу Хаксли. Он обозначил им «философию будущего» и первым заговорил о том, что рассмотрение сценариев будущего может влиять на настоящее. Футурологией Флехтхайм называл предсказания, которые основываются на осмыслении существующих технологических, экономических и социальных тенденций. </p>
        <p>Сегодня под футурологией подразумевают разнообразные исследования о будущем человечества. Футурология стала отдельным разделом социологии, который с помощью различных методов изучает перспективы социальных процессов и явлений и делает попытки предвидеть развитие человеческой цивилизации в планетарном масштабе в результате создания новых технологий.</p>
        <p> При составлении прогнозов футурологи используют такие методы:</p>
        <ul>
          <li>опросы экспертов или анкетирования</li>
          <li>статистические методы (экстраполяция, вероятностный анализ, регрессионный и корреляционный анализ)</li>
          <li>поиск аналогий будущего с существующими системами и составление сценариев будущего</li>
          <li>ролевые игры, симуляции, переговоры и другие методы групповой работы по планированию и прогнозированию будущего.</li>
        </ul>

    <h2>Научись предказывать будущее! Учись с нами.</h2>
    <h3><a href="/contactus/">Записаться</a></h3>
</div>
</div>
